<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About Atu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="https://www.irishtimes.com/resizer/v2/6WCFTAE53NDNBNFQQHCM6J22EA.jpg?auth=ac4835eeb1eed74708aca034b8994705be40615ec415db83f9f66def7e9f97e1&smart=true&width=1440&height=961"></ion-img>
  <h1>With campuses in Donegal, Sligo, Mayo, and Galway, ATU serves a diverse community of learners, staff, and organisations and offers a unique blend of academic excellence, research innovation, and quality of life. 
    <br>
    <br>

    ATU is on the path to becoming a hub of talent attraction, education, and retention. We are committed to bolstering economic, social, and cultural development across the west, northwest, and cross-border areas.  
    <br>
    <br>
    Our collaborative ethos drives us to deliver practical, solution-oriented education and research that directly addresses global challenges.  
    <br>
    <br>
    With a student body exceeding 26,000 across 600+ undergraduate and doctoral programs, ATU fosters a community where success is elevated through shared goals and achievements. Our commitment to academic excellence empowers students to become responsible citizens, critical thinkers, and lifelong learners. 
    <br>
    <br>
    ATU remains deeply rooted in industry engagement, offering courses that meet current and future workforce needs. By forging strong ties with regional employers, we create sustainable employment opportunities and drive growth in our local economies. 
    <br>
    <br>
    As part of ATU, students embark on a journey as global citizens, engaging in international research collaborations and gaining exposure to study and work placements abroad.  
    <br>
    <br>
    Our university prepares graduates for success in a rapidly evolving global landscape, equipped with the skills and perspectives needed to thrive and contribute meaningfully to sustainable global economies. 
    <br>
    <br>
    Whether you’re a student seeking international exposure or an organisation looking for global partnerships, ATU is the place to be. 
    <br>
    <br>
    The future is here. </h1>
</ion-content>
